{% extends 'base.html' %}

{% block title %}课题进展{% endblock %}
{
{% block content %}

    <div class="container">
        <div class="col-md-4 col-md-offset-4">

          <form class='form-add' action="/weekly/add_weekly/" method="post">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
                {% csrf_token %}
              <h2 class="text-center">请录入周报</h2>


              <div class="form-group">
                  {{ weekly_form.title.label_tag }}
                  {{ weekly_form.title }}
              </div>
              <div class="form-group">
                  {{ weekly_form.plan_finish.label_tag }}
                  <textarea class="form-control" rows="3" name="plan_finish" required id="id_plan_finish" maxlength="5000"></textarea>

              </div>
              <div class="form-group">
                  {{ weekly_form.finished.label_tag }}<textarea class="form-control" rows="3" name="finished" required id="id_finished" maxlength="5000"></textarea>

              </div>
                <div class="form-group">
                  {{ weekly_form.content.label_tag }}
                    <textarea class="form-control" rows="3" name="content" required id="content" maxlength="5000"></textarea>

              </div>
                <div class="form-group">
                  {{ weekly_form.c_time.label_tag }}
                  {{ weekly_form.c_time}}
              </div>
              <div class="form-group">
                  {{ weekly_form.captcha.label_tag }}
                  {{ weekly_form.captcha}}
              </div>
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}

