
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到详情</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">





</head>
<body>
 <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>签到日期</th>

            </tr>
        </thead>


    </table>


 <script type="text/javascript">
     $(document).ready(function() {
        $('#example').DataTable({
            searching : false,
            destroy :true,
        "ajax":"/sgin/stu_chakan/",
        "columns":[

                {"data":"username"},
                {"data":"stu_name"},
                {"data":"c_time"},



            ],


        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
        }

        });
    } );

 </script>

</body>
</html>