
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看选题</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">




 <style>
     .display{
         text-align: center;
     }
          body { height: 100%; background: #fff url('/static/image/bg-01.jpg') 50% 50% no-repeat; background-size: cover;}
      </style>
</head>
<body>
 <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>实训题目id</th>
                <th>标题</th>
                <th>指导老师</th>
                <th>类型</th>
                <th>课题内容</th>
                <th>学生选题人数</th>
                <th>学生分工</th>

            </tr>
        </thead>


 </table>

 <script type="text/javascript">
     $(document).ready(function() {
        $('#example').DataTable({
            searching : false,
            destroy :true,
        "ajax":"/project/stu_chakan/",
        "columns":[
                {"data":"stu_username"},
                {"data":"stu_name"},
                {"data":"stu_proid"},
                {"data":"pro_title"},
                {"data":"pro_teacher"},
                {"data":"pro_type"},
                {"data":"pro_content"},
                {"data":"pro_count"},
                {"data":"fei_gong"},


            ],


        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
        }

        });
    } );
 </script>

</body>
</html>