
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>未尚选题学生情况</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">





</head>
<body>
<table id="not_ok" class="display" style="width:100%">
        <thead>
            <tr>

                <th>尚未选题学生学号</th>
                <th>尚未选题学生姓名</th>


            </tr>
        </thead>


    </table>

     <script type="text/javascript">
     $(document).ready(function() {
        $('#not_ok').DataTable({
            searching : false,
            destroy :true,
        "ajax":"/project/data_not/",
        "columns":[

                {"data":"notok_username"},
                {"data":"notok_stu_name"},


            ],


        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
        }

        });
    } );
 </script>

</body>
</html>