
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生选题情况</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">




 <style>
          body { height: 100%; background: #fff url('/static/image/bg-01.jpg') 50% 50% no-repeat; background-size: cover;}
      </style>
</head>
<body>
 <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>选题学生学号</th>
                <th>选题学生姓名</th>
                <th>已选题目</th>

            </tr>
        </thead>


    </table>


 <script type="text/javascript">
     $(document).ready(function() {
        $('#example').DataTable({
            searching : false,
            destroy :true,
        "ajax":"/project/data/",
        "columns":[
                {"data":"xuan_username"},
                {"data":"xuan_stu_name"},
                {"data":"xuan_pro_title"},



            ],


        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
        }

        });
    } );

 </script>

</body>
</html>