
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生选题</title>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">




 <style>
          body { height: 100%; background: #fff url('/static/image/bg-01.jpg') 50% 50% no-repeat; background-size: cover;}
      </style>
</head>
<body>
 <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>编号</th>
                <th>标题</th>
                <th>指导老师</th>
                <th>课题内容</th>
                <th>学生选题人数</th>
                <th>管理员审核意见</th>
                <th>课题难易程度</th>
                <th>学生分工</th>

            </tr>
        </thead>


    </table>
 <script type="text/javascript">
     $(document).ready(function() {
        $('#example').DataTable({
            searching : false,
            destroy :true,
        "ajax":"/project/select/",
        "columns":[
                {"data":"pro_id"},
                {"data":"pro_title"},
                {"data":"pro_teacher"},
                {"data":"pro_content"},
                {"data":"pro_count"},
                {"data":"bei_zhu"},
                {"data":"fa_za"},
                {"data":"fei_gong"},


            ],


      "language": {
                    "processing": "正在获取数据，请稍后...",
                    "lengthMenu": "选择每页 _MENU_ 展示 ",
                    "zeroRecords": "未找到匹配结果--抱歉",
                    "info": "当前显示第 _PAGE_ 页结果，共 _PAGES_ 页, 共 _TOTAL_ 条记录",
                    "infoEmpty": "没有数据",
                    "infoFiltered": "(获取 _MAX_ 项结果)",
                    "sLoadingRecords": "载入中...",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "末页"
                    }
                }
            } );



    } );

 </script>

</body>
</html>