<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>实训管理系统</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>

<body>
<div class="dowebok">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="static/image/img-01.png" alt="IMG">
			</div>

			<form class="login100-form validate-form">
				<span class="login100-form-title">
					欢迎来到实训管理系统<br />
					      请选择用户登录
				</span>

				

		
				
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						<a href="http://127.0.0.1:8000/student/index">学生</a>
					</button>
				</div>
					<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						<a href="http://127.0.0.1:8000/teacher/index">老师</a>
					</button>
				</div>
					<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						<a href="http://127.0.0.1:8000/admin">管理员</a>
					</button>
				</div>
				

			</form>
		</div>
	</div>
</div>

</body>
</html>